#main {
  margin: auto;
  width: calc(100vw / 3);
  min-height: 100vh;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#game {
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid var(--black);
  color: var(--black);
  box-sizing: border-box;
  user-select: none;
  position: relative;
  overflow: auto;
}

#game-board {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  width: 100%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  position: relative;
  font-size: 2.5rem;
}

.game-board__row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border-bottom: 1px solid var(--grey);
}

.game-board__row:nth-child(3n):not(:last-child) {
  border-bottom: 2px solid var(--black);;
}

.game-board__col {
  cursor: pointer;
  border-right: 1px solid var(--grey);
  position: relative;
}

.game-board__col:last-child, .game-board__row:last-child  {
  border: unset;
}

.game-board__col:nth-child(3n):not(:last-child) {
  border-right: 2px solid var(--black);
}

.game-board__col.activated {
  background: #e2ebf3;
}

.game-board__col.doppelganger {
  background: #c3d7ea;
}

.game-board__col.duplicated {
  background: #f7cfd6;
}

.game-board__col.selected {
  background: #bbdefb;
}

.game-board__col.input-incorrect {
  color: #e45f6f;
}

.game-board__col.input-correct {
  color: #325aaf;
}

.game-board__col .game-board__col__data, .game-board__col .game-board__col__note {
  position: absolute;
  top: 0;
  width: 100%;
  aspect-ratio: 1/1;
}

.game-board__col__data {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.game-board__col__note {
  display: grid;
  grid-template: ". . ." ". . .";
  z-index: 0;
  font-size: 1.5rem;
  color: #6e7d8c;
}

.game-board__col__note div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board__col__note div.hide {
  visibility: hidden;
}

#game-paused, #game-over {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}

#game-paused img {
  width: 5rem;
}

#game-paused.hide, #game-over.hide {
  display: none;
}

#game-over__text {
  margin: unset;
  margin-bottom: 0.67rem;
}

.game-over__stats {
  font-weight: bold;
}

.game-over__button {
  margin-top: .67rem;
}

#header, #status {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: flex;
}

#header {
  color: var(--base-color);
  font-weight: bold;
}

.header__item, .status__item {
  cursor: pointer;
}

.header__item:hover {
  text-decoration: underline;
}

#status {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#status > div:first-child {
  text-align: left;
}

#status-difficulty {
  text-transform: capitalize;
}

#status > div:last-child {
  text-align: right;
}

#status-time {
  display: flex;
}

#status-time > div:last-child {
  display: flex;
  justify-content: center;
}

#status-time img {
  width: 1.25rem;
}

#status-time > div:first-child > div:last-child {
  color: var(--black);
  font-weight: normal;
  font-size: 1.25rem;
}

.status__item > div:first-child {
  /* font-weight: bold; */
  color: rgb(148, 163, 183);
  font-weight: bold;
  font-size: 1rem;
}

#actions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  column-gap: 1rem;
  height: 5rem;
  justify-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.actions__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s ease;
  position: relative;
}

.actions__item:hover img, .actions__item:hover div:last-child {
  /* color: rgb(50, 90, 175); */
  filter: invert(30%) sepia(12%) saturate(6020%) hue-rotate(195deg) brightness(98%) contrast(88%);
  transition: 0.25s ease;
}

.actions__item > img {
  width: 2rem;
}


.actions__item .actions__item__noti-count {
  position: absolute;
  border-radius: 1rem;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  top: 0;
  right: -0.25rem;
  background: var(--base-color);
  color: white;
}

#numbers {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 0.5rem;
}

.numbers__item {
  background: rgb(234, 238, 244);
  color: rgb(50, 90, 175);
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease;
}

.numbers__item:hover {
  background-color: #dce3ed;
  transition: 0.25s ease;
}

@media screen and (max-width: 1920px) {
  #main {
    width: calc(100vw / 2);
  }

  .game-board__col__note {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 960px) {
  #main {
    width: calc(100vw / 1.1);
    padding: 0.5rem;
    box-sizing: border-box;
    height: 100vh;
    font-size: 1rem;
  }

  .game-board__col__note {
    font-size: 0.5rem;
  }

  #numbers {
    column-gap: unset;
  }

  .numbers__item {
    font-size: 1rem;
    border-radius: unset;
    background-color: unset;
  }

  #game-board {
    font-size: 1.65rem;
  }

  .actions__item > img {
    width: 1.5rem;
  }
}