#main {
  margin: auto;
  width: calc(100vw / 3);
  min-height: 100vh;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#game {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid var(--black);
  box-sizing: border-box;
  user-select: none;
  position: relative;
}

#game-paused.hide {
  display: none;
}

#game-paused {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

#game-paused img {
  width: 5rem;
}

.game__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game__column {
  display: grid;
  grid-template:
  ". . ."
  ". . .";
  border: 1px solid var(--black);
}

.game__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey);
  cursor: pointer;
  font-size: 2.5rem;
  aspect-ratio: 1/1;
}

.game__cell.activated {
  background: #e2ebf3;
}

.game__cell.same-value {
  background: #c3d7ea;
}

.game__cell.selected {
  background: #bbdefb;
}

.game__cell.duplicated {
  background: #f7cfd6;
}

.game__cell.input-correct {
  color: #325aaf;
}

.game__cell.input-wrong {
  color: #e45f6f;
}

.game__cell.hide {
  color: transparent;
}


#header, #status {
  justify-content: space-between;
  align-items: center;
  /* height: 3em; */
  text-align: center;
  display: flex;

}

#header {
  color: var(--base-color);
  font-weight: bold;
}

.header__item, .status__item {
  cursor: pointer;
}

.header__item:hover {
  text-decoration: underline;
}

#status {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#status > div:first-child {
  text-align: left;
}

#status-difficulty {
  text-transform: capitalize;
}

#status > div:last-child {
  text-align: right;
}

#status-time {
  display: flex;
}

#status-time > div:last-child {
  display: flex;
  justify-content: center;
}

#status-time img {
  width: 1.25rem;
}

#status-time > div:first-child > div:last-child {
  color: black;
  font-weight: normal;
  font-size: 1.25rem;
}

.status__item > div:first-child {
  /* font-weight: bold; */
  color: rgb(148, 163, 183);
  font-weight: bold;
  font-size: 1rem;
}

#actions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  column-gap: 1rem;
  height: 5rem;
  justify-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.actions__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s ease;
}

.actions__item:hover {
  /* color: rgb(50, 90, 175); */
  filter: invert(30%) sepia(12%) saturate(6020%) hue-rotate(195deg) brightness(98%) contrast(88%);
  transition: 0.25s ease;
}

.actions__item > img {
  width: 2rem;
}

#numbers {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 0.5rem;
}

.numbers__item {
  background: rgb(234, 238, 244);
  color: rgb(50, 90, 175);
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease;
}

.numbers__item:hover {
  background-color: #dce3ed;
  transition: 0.25s ease;
}

@media screen and (max-width: 1920px) {
  #main {
    width: calc(100vw / 2);
  }
}

@media screen and (max-width: 960px) {
  #main {
    width: 100vw;
    padding: 0.5rem;
    box-sizing: border-box;
    height: 100vh;
    font-size: 1rem;
  }
  #numbers {
    column-gap: unset;
  }

  .numbers__item {
    font-size: 1.5rem;
    border-radius: unset;
    background-color: unset;
  }

  .game__cell {
    font-size: 1.5rem;
  }

  .actions__item > img {
    width: 1.5rem;
  }
}