#main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

#main > div {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu-island {
  width: 35em;
  height: calc(100%/2);
  min-height: 500px;
}

#menu-island > div, #difficult-popup > div {
  width: 20em;
  height: 2em;
  margin: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

h1, h2 {
  color: var(--base-color);
}

#menu-island h1 {
  text-align: center;
  font-size: 5rem;
}

.menu-island_item {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  border-radius: 2em;
  background: var(--base-color);
  transition: 0.25s ease;
}

.menu-island_item:hover {
  font-size: 1.1em;
  background: var(--base-color-dark);
  transition: 0.25s ease;
}

.menu-island_item-simple, .difficult-popup_item-simple {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: underline;
  color: var(--base-color);
}

.menu-island_item-simple div, .difficult-popup_item-simple div {
  transition: 0.25s ease;
}

.menu-island_item-simple div:hover, .difficult-popup_item-simple div:hover {
  font-size: 1.25rem;
  color: var(--base-color-dark);
  transition: 0.25s ease;
}

#difficult-popup {
  width: 30em;
  height: calc(100%/3);
  position: absolute;
  z-index: 999;
  background-color: white;
}

#difficult-popup h1 {
  text-align: center;
}

.difficult-popup_item {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--base-color);
  border-radius: 2em;
  border: 1px solid var(--base-color);
  transition: 0.25s ease;
}

.difficult-popup_item:hover {
  background: var(--base-color);
  color: white;
  font-size: 1.1rem;
  transition: 0.25s ease;
}

.on {
  visibility: visible;
  opacity: 1;
  animation: popup-animation 0.25s ease;
  transition: 0.25s ease;
}


.off {
  visibility: hidden;
  opacity: 0;
}


@media screen and (min-height:500px) {
  #main {
    height: 100vh;
    overflow: hidden;
  }
  #menu-island, #difficult-popup {
    /* height: 500px; */
    height: 100vh;
  }
}
